$day-size: 100px;
$border-width: 1px;
$gap: 1px;
$columns: 7;
$padding: 10px;
$calendar-width: ($padding * 2) + ($day-size * $colums) + (($colums - 1) * $gap);
$col-step: $day-size + $gap;
$font-size: 30px;
$day-bg: #eee;
$border-color: #000;
$day-hovered: #ffbfcb;
$lift-height: -20px;
$month-days: 31;
$start-days: (
  sun: 6,
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
);
